{% extends "base_private.html" %}

{% block scripts %} 

{% endblock %}

{% block title%}Your Journey Diary Dashboard{% endblock %}

{% block content %}
    
    <div class="page-header">
    <h1>Your Journey Diary <small>Dashboard</small></h1>
    </div>
    
    <div class="row">

        <div class="span8 offset2">   
            
            {% if entry_list %}
                <p>You have made the following journey diary entries:</p>
            {% else %}
                <p>You have not entered any journey diary entries.</p>
            {% endif %}

            

            <ul class="unstyled">

                {% for entry in entry_list %}
                    <li> {{ entry.id }}: {{ entry.date }} </li>
                {% endfor %}


            </ul>

	    </div>
    </div>
{% endblock %}
