{% extends "base_public.html" %}
{% block title%}Your Journey Diary{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
    
    <legend>Diary Entries</legend>   
    
    <form class="form-horizontal">
    
    <div class="control-group">
    
        <div class="control-group">
        <label class="control-label" for="entries">Select an entry</label>
            <div class="controls">
                <select class="input-large">
                    <option>Monday 3rd June 2013</option>
                    <option>Tuesday 4th June 2013</option>
                    <option>Wednesday 5th June 2013</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Origin</label>
            <div class="controls">
                <span class="input-large uneditable-input">Some value here</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Destination</label>
            <div class="controls">
                <span class="input-large uneditable-input">Some value here</span>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="entries">Overall Journey Rating</label>
            <div class="controls">
                <span class="input-large uneditable-input">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Travel Mode</label>
            <div class="controls">
                <span class="input-large uneditable-input">Some value here</span>
            </div>
        </div>
        
        
        <div class="control-group">
        <label class="control-label" for="entries">Notes</label>
            <div class="controls">
                <textarea rows="10" readonly class="input-large"></textarea>
            </div>
        </div>

    </div>
        
    </form>
    

    </div>
    
    <div class="span6">
    
    
    <legend>Create a new entry</legend>
    
  </div>
{% endblock %}