{% extends "base_private.html" %}

{% block scripts %} 

	<script language="Javascript" type="text/javascript">

    function run()
    {
        var diary = '{{ diary | safe }}';
        var diary_obj = JSON.parse(diary);

        var data = {"first": "simon"};

        console.log(data.first);

        console.log( diary_obj[0].date );
        console.log( diary_obj[1].date );
        console.log(  document.getElementById("date").value );
/*        alert(JSON.stringify( diary ))*/
    }
    
	</script>

{% endblock %}

{% block title%}Your Journey Diary{% endblock %}

{% block content %}
    
    <div class="page-header">
    <h1>Your Journey Diary <small>Review existing entries</small></h1>
    </div>
    
  <div class="row">
    <div class="span6">   
    
    <form class="form-horizontal">
    
    <div class="control-group">
    
        {% set current_entry = diary_entries[0].date %}

        <div class="control-group">
        <label class="control-label" for="entries">Select a journey</label>
            <div class="controls">
                <select class="input-large" name="date" id="date" onchange="run()">
                    {% for entry in diary_entries %}
                    <option value="{{ entry.date }}" > {{ entry.date }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries" name="origin" id="origin">Origin</label>
            <div class="controls">
                <span class="input-large uneditable-input">{{ diary_entries[0].origin }}</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Destination</label>
            <div class="controls">
                <span class="input-large uneditable-input">{{ diary_entries[0].destination }}</span>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="entries">Overall Journey Rating</label>
            <div class="controls">
                <span class="input-large uneditable-input">
                    {{ diary_entries[0].overall_rating }}
<!--                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>-->
                </span>
            </div>
        </div>
        
        <legend>Journey Legs</legend>
        
        <div class="control-group">
        <label class="control-label" for="entries">Select a Leg</label>
            <div class="controls">
                <select class="input-large">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="entries">Travel Mode for this leg</label>
            <div class="controls">
                <span class="input-large uneditable-input">Some value here</span>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="entries">Rating for this leg</label>
            <div class="controls">
                <span class="input-large uneditable-input">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                </span>
            </div>
        </div>

    </div>
        
    </form>
    

    </div>
    
    <div class="span6">
    
    
    <div class="control-group">
        <label class="control-label" for="entries">Notes</label>
            <div class="controls">
                <textarea rows="15" readonly class="input-block-level"></textarea>
            </div>
        </div>
    
  </div>
{% endblock %}
