{% extends "base_private.html" %}

{% block scripts %} 

	<script language="Javascript" type="text/javascript">
	
		var counter = 1;
		var limit = 10;
		function addInput(divName)
		{
	    	if (counter == limit)
			{
    	    	alert("You have reached the limit of adding " + counter + " inputs");
	     	}
    	 	else
		 	{
        	  	var newdiv = document.createElement('div');
	          /*	newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";*/

				newdiv.innerHTML = '<legend>Leg' + (counter + 1) +'</legend><div class="control-group"><label class="control-label" for="entries">Travel Mode for this leg</label><div class="controls"><select class="input input-block-level"><option>Car</option><option>Walk</option><option>Cycle</option></select></div></div><div class="control-group"><label class="control-label" for="entries">Rating for this leg</label><div class="input-append"><div class="controls"><select class="input-small"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select><span class="add-on"><i class="icon-star"></i></span></div></div></div>'

	          	document.getElementById(divName).appendChild(newdiv);
    	      	counter++;
	     	}
		}

	</script>

{% endblock %}

{% block title%}Add a new entry{% endblock %}

{% block content %}
    
    <div class="page-header">
    <h1>Your Journey Diary <small>Add a new entry</small></h1>
    </div>
    
  <div class="row">

    <div class="span8 offset2">   
    
    <form class="form-horizontal">
    
    <div class="control-group">

	
	<legend>Overview of your journey</legend>
        <div class="control-group">
            <label class="control-label" for="entries">Date</label>
            <div class="controls">
        		<input class="input-block-level" type="text" placeholder="the date of your journey">
			</div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Origin</label>
            <div class="controls">
           		<input class="input-block-level" type="text" placeholder="where your journey started">    
			</div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Destination</label>
            <div class="controls">
            	<input class="input-block-level" type="text" placeholder="where your journey ended">
			</div>
        </div>

		<div class="control-group">
        <label class="control-label" for="entries">Rate your journey overall</label>
			<div class="input-append">
            	<div class="controls">
                	<select class="input-small">
	                    <option>1</option>
    	                <option>2</option>
        	            <option>3</option>
						<option>4</option>
						<option>5</option>
	                </select>				
					<span class="add-on"><i class="icon-star"></i></span>
        	    </div>
			</div>
        </div>


	<legend>Journey Legs</legend>

		<div class="control-group">
	        <div class="controls">
	        	<button class="btn btn-block" type="button" onClick="addInput('dynamicInput');">Add a journey leg</button>
			</div>
		</div>

		<div class="offset2" id="dynamicInput">
			<legend>Leg 1</legend>
				<div class="control-group">
		        	<label class="control-label" for="entries">Travel Mode for this leg</label>
		            <div class="controls">
	    	            <select class="input input-block-level">
	        	            <option>Car</option>
    	        	        <option>Walk</option>
        	        	    <option>Cycle</option>
	        	        </select>
    	        	</div>
		        </div> 

	       		<div class="control-group">
    	        	<label class="control-label" for="entries">Rating for this leg</label>
	    	        <div class="input-append">
    	    	    	<div class="controls">
        	    	    	<select class="input-small">
	        	    	        <option>1</option>
    	        	    	    <option>2</option>
        	        	    	<option>3</option>
								<option>4</option>
								<option>5</option>
	    		            </select>				
							<span class="add-on"><i class="icon-star"></i></span>
						</div>
		        	</div>
				</div>
			</div>
		</div>


	<legend>Notes</legend>
		<div class="control-group">
        	<label class="control-label" for="entries">Notes about your journey</label>
	        <div class="controls">
				<textarea rows="15" class="input-block-level"></textarea>
        	</div>
	    </div>

		<div class="control-group">
    	    <label class="control-label" for="entries">Add this entry to your journey diary</label>
        	<div class="controls">
				<button class="btn btn-large btn-primary pull-right" type="button">Add Entry</button>
			</div>
		</div>
	</form>
	</div>
  </div>
{% endblock %}
