{% extends "base_private.html" %}

{% block scripts %} 

	<script language="Javascript" type="text/javascript">
	
		var counter = 1;
		var limit = 10;
		function addInput(divName)
		{
	    	if (counter == limit)
			{
    	    	alert("A journey can only have a maximum of "+ limit +" legs.");
	     	}
    	 	else
		 	{
        	  	var newdiv = document.createElement('div');
				newdiv.innerHTML = '<legend>Leg' + (counter + 1) +'</legend><div class="control-group"><label class="control-label" for="entries">Travel Mode for this leg</label><div class="controls"><select class="input input-block-level" name="mode_'+ (counter+1) +'"><option>Car</option><option>Walk</option><option>Cycle</option></select></div></div><div class="control-group"><label class="control-label" for="leg_duration_1">Duration</label><div class="controls"><input class="input-block-level" type="text" placeholder="how long this leg lasted" name="leg_duration_'+ (counter+1) +'"></div></div><div class="control-group"><label class="control-label" for="entries">Rating for this leg</label><div class="input-append"><div class="controls"><select class="input-small" name="rating_'+ (counter+1) +'"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select><span class="add-on"><i class="icon-star"></i></span></div></div></div>'
	          	document.getElementById(divName).appendChild(newdiv);
    	      	counter++;
	     	}
		}

	</script>

{% endblock %}

{% block title%}Add a new entry{% endblock %}

{% block content %}
    
    <div class="page-header">
    <h1>Your Journey Diary <small>Add a new entry</small></h1>
    </div>
    
  <div class="row">

    <div class="span8 offset2">   
    
    <form class="form-horizontal" name="entry_form" action="" method="post">
   <!-- <fieldset>-->
    <div class="control-group">

	
	<legend>Overview of your journey</legend>
        <div class="control-group">
            <label class="control-label" for="entries">Date</label>
            <div class="controls">
        		<input class="input-block-level" type="text" placeholder="the date of your journey" name="date">
			</div>
        </div>

        <div class="control-group">
            <label class="control-label" for="time">Time</label>
            <div class="controls">
        		<input class="input-block-level" type="text" placeholder="the time of your journey" name="time">
			</div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Origin</label>
            <div class="controls">
           		<input class="input-block-level" type="text" placeholder="where your journey started" name="origin">    
			</div>
        </div>

        <div class="control-group">
            <label class="control-label" for="entries">Destination</label>
            <div class="controls">
            	<input class="input-block-level" type="text" placeholder="where your journey ended" name="destination">
			</div>
        </div>

        <div class="control-group">
            <label class="control-label" for="duration">Duration</label>
            <div class="controls">
            	<input class="input-block-level" type="text" placeholder="how long your journey lasted" name="duration">
			</div>
        </div>

		<div class="control-group">
        <label class="control-label" for="overall_rating">Rate your journey overall</label>
			<div class="input-append">
            	<div class="controls">
                	<select class="input-small" name="overall_rating">
	                    <option>1</option>
    	                <option>2</option>
        	            <option>3</option>
						<option>4</option>
						<option>5</option>
	                </select>				
					<span class="add-on"><i class="icon-star"></i></span>
        	    </div>
			</div>
        </div>


	<legend>Journey Legs</legend>

		<div class="control-group">
	        <div class="controls">
	        	<button class="btn btn-block" type="button" onClick="addInput('dynamicInput');">Add a journey leg</button>
			</div>
		</div>

		<div class="offset1" id="dynamicInput">
			<legend>Leg 1</legend>
				<div class="control-group">
		        	<label class="control-label" for="entries">Travel Mode for this leg</label>
		            <div class="controls">
	    	            <select class="input input-block-level" name="mode_1">
	        	            <option>Car</option>
    	        	        <option>Walk</option>
        	        	    <option>Cycle</option>
	        	        </select>
    	        	</div>
		        </div> 

                
                <div class="control-group">
                    <label class="control-label" for="leg_duration_1">Duration</label>
                    <div class="controls">
            	        <input class="input-block-level" type="text" placeholder="how long this leg lasted" name="leg_duration_1">
			        </div>
                </div>


	       		<div class="control-group">
    	        	<label class="control-label" for="rating_1">Rating for this leg</label>
	    	        <div class="input-append">
    	    	    	<div class="controls">
        	    	    	<select class="input-small" name="rating_1">
	        	    	        <option>1</option>
    	        	    	    <option>2</option>
        	        	    	<option>3</option>
								<option>4</option>
								<option>5</option>
	    		            </select>				
							<span class="add-on"><i class="icon-star"></i></span>
						</div>
		        	</div>
				</div>

			</div>
		</div>


	<legend>Notes</legend>
		<div class="control-group">
        	<label class="control-label" for="entries">Notes about your journey</label>
	        <div class="controls">
				<textarea rows="15" class="input-block-level" name="notes"></textarea>
        	</div>
	    </div>

		<div class="control-group">
    	    <label class="control-label" for="entries">Add this entry to your journey diary</label>
        	<div class="controls">
				<button class="btn btn-large btn-primary pull-right" type="submit"  type="submit" name="button" value="login">Add Entry</button>
			</div>
		</div>
<!--	</fieldset>-->
	</form>
	</div>
  </div>
{% endblock %}
