{% extends "base_private.html" %}

{% block scripts %} 

{% endblock %}

{% block title%}Your Journey Diary Account Settings{% endblock %}

{% block content %}
    
    <div class="page-header">
    <h1>Your Journey Diary <small>Account Settings</small></h1>
    </div>
    
  <div class="row">

    <div class="span8 offset2">   
    
<form class="form-horizontal" name="login_form" action="" method="post">
            <fieldset>
            <legend>Change Your Password</legend>
            
            <div class="control-group">
                <label class="control-label" for="existing">Existing Password</label>
                <div class="controls">
                <input type="text" placeholder="your existing password" name="existing_pass">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="new_pass_one">New Password</label>
                <div class="controls">
                <input type="text" placeholder="your new password" name="new_pass_one">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="new_pass_two">Repeat Password</label>
                <div class="controls">
                <input type="password" placeholder="your new password again" name="new_pass_two">
                </div>
            </div>
            
            <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" name="update_pw_button" value="update_pw_button">Update Password</button>
            </div>
            </div>
        
        </fieldset>
            </form>


	</div>
  </div>
{% endblock %}
